<% layout('layout/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <h1 class="text-center">New Campground</h1>
        <div class="form">
            <form action="/campgrounds" method="POST">
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="campground[title]">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" aria-describedby="emailHelp" name="campground[location]">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Image URL</label>
                    <input type="text" class="form-control" id="location" aria-describedby="emailHelp" name="campground[image]">
                </div>
                <div class="input-group">
                    <span class="input-group-text">Description</span>
                    <textarea class="form-control" name="campground[description]" aria-label="With textarea"></textarea>
                </div>                  
                <div class="input-group my-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" aria-label="Amount (to the nearest dollar)" aria-describedby="price-label" name="campground[price]">
                    </div>
                    
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
              </form>
        </div>
    </div>
</div> 

<!-- <a href="/campgrounds">
    <button class="btn btn-dark">All campgrounds</button>
</a> -->

